html { 
	background: url(../images/cork.jpg) no-repeat center center fixed;
	background-repeat: repeat-y; 
	background-size: cover;
	text-align: center;
}


div.tacks_container {
	background: url(../images/cork.jpg) no-repeat center center fixed; 
	background-size: cover;
}

.board_title {
	color: grey;
    border: 2px solid darkblue;
    position: fixed;
    left: 50%;
    margin-top: 10px; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    margin-bottom:20px;
    display: table-cell;
    background-color: rgb(255, 255, 136);
    -webkit-box-shadow: 5px 5px 5px rgba(33,33,33,.7);
    padding: auto;
    min-width: 250px;
    max-height: 200px
}