
.user_tack {
    position: absolute;
    color: grey;
    border: 4px solid darkblue;
    padding: 6px;
    overflow: auto;
}
.tack_title {
    text-align: center;
}
.tack_content {
    text-align: center;
    width: 100%;
}
.tack_feedback {
    text-align: center;
}