
.user_tack {
    color: grey;
    border: 4px solid darkblue;
    padding: 6px;
    position: relative;
    display: table-cell;
}
.tack_title {
    text-align: center;
}

.tack_content {
    text-align: center;
    width: 100%;
    overflow: auto;
}

.tack_description {
    text-align: center;
    width: 100%;
}

.tack_feedback {
	max-height: 150px;
	height: auto;
	width: 100%;
	padding: 5px;
    text-align: center;
	overflow: auto;
}

.feedback {
	float:left;
	text-align: left;
	width: 80%;
}

.feedback_meta {
	font-size: 80%;
}

.feedback_entry {
	width: 75%;
	rows: 2;
	border: 3px solid #cccccc;
	font-family: Tahoma, sans-serif;
	overflow: auto;
	float:left;
}

.feedback_button {
	float:right;
}


.tacks_container {
	align:center;
}